<div class="animated fadeIn" id="section1">
    <h1>Section 1</h1>
    <p>This is the initial content of section 1.</p>
</div>

<div class="animated fadeOut" id="section2">
    <h1>Section 2</h1>
    <p>This is the initial content of section 2.</p>
</div>

<div class="animated bounce" id="section3">
    <h1>Section 3</h1>
    <p>This is the initial content of section 3.</p>
</div>

<div class="animated flash" id="section3">
    <h1>Section 4</h1>
    <p>This is the initial content of section 4.</p>
</div> 
pulse
<div class="animated pulse" id="section3">
    <h1>Section 5</h1>
    <p>This is the initial content of section 5.</p>
</div>  rubberBand
<div class="animated rubberBand" id="section3">
    <h1>Section 6</h1>
    <p>This is the initial content of section 6.</p>
</div>  
<div class="animated shake" id="section3">
    <h1>Section 7</h1>
    <p>This is the initial content of section 7.</p>
</div>
<div class="animated headShake" id="section3">
    <h1>Section 8</h1>
    <p>This is the initial content of section 8.</p>
</div> 
<div class="animated swing" id="section3">
    <h1>Section 9</h1>
    <p>This is the initial content of section 9</p>
</div> 
<div class="animated tada" id="section3">
    <h1>Section 10</h1>
    <p>This is the initial content of section 10</p>
</div> 
<div class="animated wobble" id="section3">
    <h1>Section 11</h1>
    <p>This is the initial content of section 11</p>
</div>
<div class="animated flip" id="section3">
    <h1>Section 12</h1>
    <p>This is the initial content of section 12</p>
</div>
<div class="animated lightSpeedIn" id="section3">
    <h1>Section 13</h1>
    <p>This is the initial content of section 13</p>
</div> 
<div class="animated zoomIn" id="section3">
    <h1>Section Raj</h1>
    <p>This is the initial content of section 14</p>
</div> 
<div class="animated lightSpeedIn" id="section3">
    <h1>Section R</h1>
    <p>This is the initial content of section 15</p>
</div> 
Jello
<div class="animated jello" id="section3">
    <h1>Section R</h1>
    <p>This is the initial content of section 15</p>
</div> 
<!-- fadeIn fadeOut bounce flash pulse rubberBand shake headShake swing tada wobble
jello bounceIn bounceInDown bounceInLeft bounceInRight bounceInUp bounceOut
bounceOutDown bounceOutLeft bounceOutRight bounceOutUp fadeInDown fadeInDownBig fadeInLeft
fadeInLeftBig fadeInRight fadeInRightBig fadeInUp fadeInUpBig fadeOutDown fadeOutDownBig fadeOutLeft 
fadeOutLeftBig fadeOutRight fadeOutRightBig fadeOutUp fadeOutUpBig flip  flipInX flipInY flipOutX flipOutY
lightSpeedIn lightSpeedOut rotateIn rotateInDownLeft rotateInDownRight rotateInUpLeft rotateInUpRight rotateOut
rotateOutDownLeft rotateOutDownRight rotateOutUpLeft rotateOutUpRight hinge jackInTheBox rollIn rollOut zoomIn
zoomInDown zoomInLeft zoomInRight zoomInUp zoomOut zoomOutDown zoomOutLeft zoomOutRight zoomOutUp slideInDown 
slideInLeft slideInRight slideInUp slideOutDown slideOutLeft slideOutRight slideOutUp -->
<!-- @keyframes
animation-name  
animation-duration
animation-delay
animation-iteration-count
animation-direction   for
animation-timing-function
animation-fill-mode
animation -->