<div>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of CarouselImages">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
<h1 style="margin: 50px;" class="animated rubberBand" ><b>BIGGEST DEALS ON TOP BRANDS</b></h1>
<div fxLayout="row row-wrap" fxLayoutAlign="start start">
  <div fxLayout="column" *ngFor="let data of BigDealImages">
    <div class="cardContent animated bounceIn" style="margin-left: 30px;" >
      <div>
        <img src="{{ data.src }}" alt="Pics of imges" width="330px" height="540px" />
      </div>
    </div>
  </div>
</div>
<h1 style="margin: 50px;" class="animated rubberBand" ><b>CATEGORIES TO BAG</b></h1>
<div style="margin-left: 40px;">
  <div fxLayout="row row-wrap" fxLayoutAlign="start start">
    <div fxLayout="column" *ngFor="let data of CategoryImage">
      <div class="cardContent animated bounceIn" style="margin-right: 30px;" >
        <div>
          <img src="{{ data.src }}" alt="Pics of imges" width="260px" height="330px" />
        </div>
      </div>
    </div>
  </div>
</div>
<h1 style="margin: 50px;" class="animated rubberBand" ><b>EXPLORE TOP BRANDS</b></h1>
<div style="margin-left: 40px;">
  <div fxLayout="row row-wrap" fxLayoutAlign="start start">
    <div fxLayout="column" *ngFor="let data of exploreImage">
      <div class="cardContent animated bounceIn" style="margin-right: 30px;" >
        <div>
          <img src="{{ data.src }}" alt="Pics of imges" width="330px" height="510px" />
        </div>
      </div>
    </div>
  </div>
</div>
<h1 style="margin: 50px;" class="animated rubberBand" ><b>MYNTRA LUXE</b></h1>
<div style="margin-left: 40px;">
  <div fxLayout="row row-wrap" fxLayoutAlign="start start">
    <div fxLayout="column" *ngFor="let data of myntraLuxeImage">
      <div class="cardContent animated bounceIn" style="margin-right: 30px;" >
        <div>
          <img src="{{ data.src }}" alt="Pics of imges" width="262px" height="330px" />
        </div>
      </div>
    </div>
  </div>
</div>
<h1 style="margin: 50px;" class="animated rubberBand" ><b>TRENDING IN INDIAN WEAR</b></h1>
<div style="margin-left: 40px;">
  <div fxLayout="row row-wrap" fxLayoutAlign="start start">
    <div fxLayout="column" *ngFor="let data of trendingIndianWearImage">
      <div class="cardContent animated bounceIn" style="margin-right: 30px;" >
        <div>
          <img src="{{ data.src }}" alt="Pics of imges" width="330px" height="440px" />
        </div>
      </div>
    </div>
  </div>
</div>
<h1 style="margin: 50px;" class="animated rubberBand" ><b>TRENDING IN SPORTS WEAR</b></h1>
<div style="margin-left: 40px;">
  <div fxLayout="row row-wrap" fxLayoutAlign="start start">
    <div fxLayout="column" *ngFor="let data of trendingSportsWearImage">
      <div class="cardContent animated bounceIn" style="margin-right: 30px;" >
        <div>
          <img src="{{ data.src }}" alt="Pics of imges" width="330px" height="440px" />
        </div>
      </div>
    </div>
  </div>
</div>
<h1 style="margin: 50px;" class="animated rubberBand" ><b>TRENDING IN FOOTWEAR</b></h1>
<div style="margin-left: 40px;">
  <div fxLayout="row row-wrap" fxLayoutAlign="start start">
    <div fxLayout="column" *ngFor="let data of trendingFootWearImage">
      <div class="cardContent animated bounceIn" style="margin-right: 30px;" >
        <div>
          <img src="{{ data.src }}" alt="Pics of imges" width="330px" height="440px" />
        </div>
      </div>
    </div>
  </div>
</div>
<h1 style="margin: 50px;" class="animated rubberBand" ><b>TRENDING IN ACCESSORIES</b></h1>
<div style="margin-left: 40px;">
  <div fxLayout="row row-wrap" fxLayoutAlign="start start">
    <div fxLayout="column" *ngFor="let data of trendingAccessoriesImage">
      <div class="cardContent animated bounceIn" style="margin-right: 30px;" >
        <div>
          <img src="{{ data.src }}" alt="Pics of imges" width="330px" height="440px" />
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 100px;margin-bottom: 500px;" fxLayoutGap="30px">
  <div fxLayout="column" fxFlex="15" style="height: 400px;">
    <p><b>ONLINE SHOPPING</b></p>
    <p>Men</p>
    <p>Women</p>
    <p>Kids</p>
    <p>Home & Living</p>
    <p>Beauty</p>
    <p>Gift Cards</p>
    <p>Myntra Insider</p>
  </div>
  <div fxLayout="column" fxFlex="15" style="height: 400px;">
    <p><b>USEFUL LINKS</b></p>
    <p>Blog</p>
    <p>Careers</p>
    <p>Site Map</p>
    <p>Corporate Information</p>
    <p>Whitehat</p>
    <p>Cleartrip</p>
  </div>
  <div fxLayout="column" fxFlex="15" style="height: 400px;">
    <p><b>USTOMER POLICIES</b></p>
    <p>Contact Us</p>
    <p>FAQ</p>
    <p>T&C</p>
    <p>Terms Of Use</p>
    <p>Track Orders</p>
    <p>Shipping</p>
    <p>Cancellation</p>
    <p>Returns</p>
    <p>Privacy policy</p>
    <p>Grievance Officer</p>
  </div>
</div>