<owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of CarouselImages">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <h1 style="margin: 50px;"><b>FAVOURITE BRANDS</b></h1>
  <div fxLayout="row row-wrap" fxLayoutAlign="start start">
    <div fxLayout="column" *ngFor="let data of BigDealImages">
      <div class="cardContent animated bounceIn">
        <img src="{{ data.src }}" alt="Pics of imges" width="208px" height="216px" />
      </div>
    </div>
  </div>
  <h1 style="margin: 50px;"><b>TOP PICKS</b></h1>
  <div style="margin-left: 40px;">
    <div fxLayout="row row-wrap" fxLayoutAlign="start start">
      <div fxLayout="column" *ngFor="let data of CategoryImage">
        <div class="cardContent animated bounceIn">
          <img src="{{ data.src }}" alt="Pics of imges" width="165px" height="122px" />
        </div>
      </div>
    </div>
  </div>
  <h1 style="margin: 50px;"><b>ICONIC BRANDS</b></h1>
  <div style="margin-left: 40px;">
    <div fxLayout="row row-wrap" fxLayoutAlign="start start">
      <div fxLayout="column" *ngFor="let data of exploreImage">
        <div class="cardContent animated bounceIn">
          <img src="{{ data.src }}" alt="Pics of imges" width="362px" height="445px" />
        </div>
      </div>
    </div>
  </div>
  <h1 style="margin: 50px;"><b>FASHION & ESSENTIALS</b></h1>
  <div style="margin-left: 40px;">
    <div fxLayout="row row-wrap" fxLayoutAlign="start start">
      <div fxLayout="column" *ngFor="let data of myntraLuxeImage">
        <div class="cardContent animated bounceIn">
          <img src="{{ data.src }}" alt="Pics of imges" width="365px" height="496px" />
        </div>
      </div>
    </div>
  </div>
  <h1 style="margin: 50px;"><b>EXPLORE MORE</b></h1>
  <div style="margin-left: 40px;">
    <div fxLayout="row row-wrap" fxLayoutAlign="start start">
      <div fxLayout="column" *ngFor="let data of trendingIndianWearImage">
          <div class="cardContent animated bounceIn">
            <img src="{{ data.src }}" alt="Pics of imges" width="900px" height="1108px" />
          </div>
      </div>
    </div>
  </div>
  <h1 style="margin: 50px;"><b>THE KIDS SPACE</b></h1>
  <div style="margin-left: 40px;">
    <div fxLayout="row row-wrap" fxLayoutAlign="start start">
      <div fxLayout="column" *ngFor="let data of trendingSportsWearImage">
        <div class="cardContent animated bounceIn" style="margin-right: 30px;">
          <div>
            <img src="{{ data.src }}" alt="Pics of imges" width="900px" height="630px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 style="margin: 50px;"><b>BUDGET BUY</b></h1>
  <div style="margin-left: 40px;">
    <div fxLayout="row row-wrap" fxLayoutAlign="start start">
      <div fxLayout="column" *ngFor="let data of trendingFootWearImage">
        <div class="cardContent animated bounceIn">
          <div>
            <img src="{{ data.src }}" alt="Pics of imges" width="305px" height="318px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 style="margin: 50px;"><b>SHOP MORE BRANDS</b></h1>
  <div style="margin-left: 40px;">
    <div fxLayout="row row-wrap" fxLayoutAlign="start start">
      <div fxLayout="column" *ngFor="let data of trendingAccessoriesImage">
        <div class="cardContent animated bounceIn">
          <div>
            <img src="{{ data.src }}" alt="Pics of imges" width="365px" height="437px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 100px;margin-bottom: 500px;" fxLayoutGap="30px">
    <div fxLayout="column" fxFlex="15" style="height: 400px;">
      <p><b>ONLINE SHOPPING</b></p>
      <p>Men</p>
      <p>Women</p>
      <p>Kids</p>
      <p>Home & Living</p>
      <p>Beauty</p>
      <p>Gift Cards</p>
      <p>Myntra Insider</p>
    </div>
    <div fxLayout="column" fxFlex="15" style="height: 400px;">
      <p><b>USEFUL LINKS</b></p>
      <p>Blog</p>
      <p>Careers</p>
      <p>Site Map</p>
      <p>Corporate Information</p>
      <p>Whitehat</p>
      <p>Cleartrip</p>
    </div>
    <div fxLayout="column" fxFlex="15" style="height: 400px;">
      <p><b>USTOMER POLICIES</b></p>
      <p>Contact Us</p>
      <p>FAQ</p>
      <p>T&C</p>
      <p>Terms Of Use</p>
      <p>Track Orders</p>
      <p>Shipping</p>
      <p>Cancellation</p>
      <p>Returns</p>
      <p>Privacy policy</p>
      <p>Grievance Officer</p>
    </div>
  </div>
